.para {
  font-family: 'Iosevka', monospace;
  font-size: 15px;
  color: #00d1b2;
  overflow: hidden;
  border-right: 2px solid #00d1b2;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(1000000000000000000000000000000000, end) forwards, blink 0.8s step-end infinite;
  margin-left: 490px;
  margin-top: 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 37% }
}

@keyframes blink {
  50% { border-color: transparent }
}
