.mainbackground{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtnWhp249TT42xW7Xe1ln4wIeMeAROJVrqvw&s)
}
.name{
    color: #a3e3e1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    animation-name: fadeIn; 
    animation-duration: 2s;
}
.redirect{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
    animation-name: slideIn; 
    animation-duration: 2s;
    :hover{
        color: #113982;
    }
    
}

.link{
    color: #d0f5f4;
        animation-name: fadeIn; 
    animation-duration: 3s;
}
.heading{
    color: #8ff7ab;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 300px;
    padding-top: 1.5rem;
    font-size: 50px;
        animation-name: fadeIn; 
    animation-duration: 3.5s;

}
.para{
    color: white;
    font-size: 1.5rem;
    margin-left: 300px;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 300px;
        animation-name: fadeIn; 
    animation-duration: 4s;

    
}
@keyframes fadeIn {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}
    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

