.mainbackground{
    background-color: #0e0e0e;
}
.name{
    color: #a3e3e1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    animation-name: fadeIn; 
}
.redirect{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
    :hover{
        color: #113982;
    }
    
}

.link{
    color: #d0f5f4;
}
.heading{
    color: #8ff7ab;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 300px;
    padding-top: 1.5rem;
    font-size: 50px;

}
.para{
    color: white;
    font-size: 1.5rem;
    margin-left: 300px;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 300px;

    
}